<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ajouter une recette</title>

</head>
<body>

<h1>Ajouter une recette</h1>
<form  method="post" th:object="${nouvelleRecette}" enctype="multipart/form-data">
  <label for="titre">Titre :</label><br>
  <input type="text" id="titre" name="titre" th:field="*{titre}" ><br>
  <label for="description">Description :</label><br>
  <textarea id="description" name="description" th:field="*{description}" ></textarea><br>
  <label for="instructions">Instructions :</label><br>
  <textarea id="instructions" name="instructions" th:field="*{instructions}" ></textarea><br>
  <label for="imageUrl">image :</label><br>
  <input type="file" id="imageUrl" name="imageUrl">
  <h2>Ingrédients</h2>
  <div id="ingredients">
    <div class="ingredient">
      <label for="ingrédients[0].quantité">Quantité :</label>
      <input type="text" id="ingrédients[0].quantité" name="ingrédients[0].quantité">
      <label for="ingrédients[0].nom">Nom :</label>
      <input type="text" id="ingrédients[0].nom" name="ingrédients[0].nom">
    </div>
  </div>

  <button type="button" onclick="ajouterIngredient()">Ajouter un ingrédient</button>

  <button type="submit">Ajouter</button>
</form>

<script>


  var ingredientCounter = 0;

  function ajouterIngredient() {
    ingredientCounter++;
    var ingredientsDiv = document.getElementById('ingredients');
    var newIngredientDiv = document.createElement('div');
    newIngredientDiv.classList.add('ingredient');
    newIngredientDiv.innerHTML = `
      <label for="ingrédients[${ingredientCounter}].quantite">Quantité :</label>
      <input type="text" id="ingrédients[${ingredientCounter}].quantite" name="ingrédients[${ingredientCounter}].quantité">
      <label for="ingrédients[${ingredientCounter}].nom">Nom :</label>
      <input type="text" id="ingrédients[${ingredientCounter}].nom" name="ingrédients[${ingredientCounter}].nom">
    `;
    ingredientsDiv.appendChild(newIngredientDiv);
  }
</script>

</body>
</html>
